.btn_cancel_modal {
  letter-spacing: 0px;
  min-width: 112px;
  font-size: 16px;
  color: #2c3a57;
  border: 1px solid #2c3a57;
  font-weight: 500;
  border-radius: 4px;
  @media (min-width: 768px) {
    min-width: 112px;
  }

  @media (max-width: 350px) {
    font-size: 14px;
  }
}

.btn_ok_modal {
  border: none;
  background-color: #2c3a57;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 16px;
  min-width: 112px;
  border-radius: 4px;
  @media (min-width: 768px) {
    min-width: 112px;
  }
  @media (max-width: 350px) {
    font-size: 14px;
  }
}

.btn_custom_modal {
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
  font-weight: 500;
  font-size: 16px;
  min-width: 90px;
  border: none;
}
