.master-layout {
  background-color: #f8f8f8;
  .master-header {
    height: 95px;
    border-bottom: 1px solid #222e4a1a;
    box-shadow: 0px 3px 10px #222e4a1a;
    background-color: #f8f8f8;

    z-index: 2;
    .header {
      padding: 0px;
      height: 100%;
      background-color: #f8f8f8;

      display: flex;
      font-size: 18px;
      justify-content: space-between;
      color: black;
      .menu_fold {
        display: flex;
        align-items: center;
      }
      .menu_settings {
        padding-right: 3%;
        display: flex;
        align-items: center;
      }
    }
    .logo {
      height: 100%;
      padding: 0px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      .img-logo {
        max-width: calc(218px);
      }
    }
    .content-header-nvg {
      overflow-x: visible;
      height: 100%;
    }
  }
}
.master-content {
  height: 100%;
  .left_menu {
    height: 100%;
    .name_footer {
      font-weight: 600;
      font-size: 16px;
      border-top: 1px solid white;
      margin-top: 220px;
      .name_footer_1 {
        color: red;
      }
      .name_footer_3 {
        font-size: 14px;
      }
    }
  }
}
.ant-menu-item-selected {
  background: red !important;
}
