.info_user_container {
  &:hover {
    .info_user {
      .label_name {
        color: #f80000;
      }
      .label_role {
        color: #ff2828;
      }
    }
    .icon-select {
      color: #f80000;
    }
  }

  .info_user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    .avatar_user {
      width: 48px;
      height: 48px;
      background-color: #c5c5c5;
      border-radius: 50%;
      margin-right: 20px;
      @media (max-width: 768px) {
        margin-right: 0px;
      }
    }
    .info-container {
      display: flex;
      flex-direction: column;
      height: 40px;
      justify-content: space-between;
    }
    .label_name {
      font-size: 18px;
      font-weight: 500;
      line-height: 1;
      max-width: 200px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: 0px;
    }
    .label_role {
      line-height: 1;
      font-size: 12px;
      letter-spacing: 0px;
    }
  }
}

.OverLayClassNameNoti {
  .noti-dropdown {
    width: 400px;
  }

  .header {
    padding: 24px;

    .title {
      color: #23262f;
      font-weight: 700;
      font-size: 18px;
    }

    .mark_as_all_read {
      font-size: 14px;
      line-height: 19.6px;
      color: #0072f8;
      cursor: pointer;
    }
  }

  .noti-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    max-height: 500px;
    overflow-y: scroll;

    .noti-item {
      padding: 24px;
      padding-right: 34px;

      .noti-type {
        height: 40px;
        width: 40px;
        border-radius: 50%;

        &.cancelled {
          background: #ff3d3d;
        }

        &.confirmed {
          background: #683c73;
        }

        &.finished {
          background: #09b530;
        }
      }

      .detail {
        flex: 1;
        line-height: 18px;

        .action {
          font-size: 16px;
          color: #858c93;
        }

        .time {
          font-size: 14px;
          color: #858c93;
        }
      }

      &.un-seen {
        background: #ebf2fd;
        position: relative;
        cursor: pointer;

        .detail {
          .action {
            color: #0c1132;
          }
        }
      }

      &.un-seen::after {
        content: '';
        display: block;
        position: absolute;
        height: 6px;
        width: 6px;
        background: #f80000;
        border-radius: 50%;
        top: calc(50% - 3px);
        right: 24px;
      }
    }
  }

  .footer {
    border-top: 1px solid #e6e8ec;
    padding: 10px;

    .view-all-noti {
      cursor: pointer;
      color: #0072f8;
      font-size: 14px;
      line-height: 19.6px;
    }
  }
}
