.sticky-group-btn {
  position: sticky;
  bottom: 50px;
}

.h-100-input {
  .ant-form-item-control-input {
    height: 100%;
    .ant-form-item-control-input-content {
      height: 100%;
    }
  }
}

.fs-16 {
  font-size: 16px;
}
